@import 'src/scss/variables.scss';
@font-face {
  font-family: 'sfPro';
  src: url('/assets/fonts/FontsFree-Net-SFProDisplay-Light.ttf');
}

@font-face {
  font-family: 'morganPost';
  src: url('/assets/fonts/MorganPosterAvecRegular.otf');
}

body {
  font-family: 'sfPro';
  background: $navy;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
