@import 'src/scss/variables.scss';

.container {
  margin: 25px auto 85px;
  padding-top: 0 5px;
  text-transform: uppercase;

  a {
    padding: 0 7px;
    border-right: 1px solid $grey2b;
    color: $grey2b;
    font-family: 'sfProLight';
    font-size: 11px;
    text-decoration: none;

    &:last-child {
      border-right: none;
    }
  }
}

@media all and (max-width: 500px) {
  .container {
    margin: 9px auto 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
      font-size: 10px;
    }
  }
}

@media all and (max-width: 400px) {
  .container {
    margin-top: 7px;
  }
}
