@import 'src/scss/variables.scss';

nav {
  margin: 32px auto 85px;
  background: $navy2;
  text-transform: uppercase;
}

.navItem {
  margin-left: 10px;
  color: $grey2b;
  font-family: 'sfProLight';
  font-size: 11px;
  text-decoration: none;
}

.navItem:after {
  content: '';
  padding-right: 10px;
  border-right: 1px solid $grey2b;
  color: $grey2b;
  font-size: 11px;
}

.navItem:last-child::after {
  border: none;
}
