$white: rgb(255, 255, 255);
$grey1: rgb(248, 248, 248);
$grey1b: rgb(240, 240, 240);
$grey2: rgb(228, 228, 228);
$grey2b: rgb(161, 161, 161);
$grey3: rgb(108, 108, 108);
$charcoal: rgb(74, 74, 74);
$navy: rgb(1, 33, 70);
$navy2: rgb(1, 32, 68);
