@import 'src/scss/variables.scss';

.container {
  align-self: center;
  margin: 32px auto 85px;
  text-transform: uppercase;
  background: $navy2;
}

.navItem {
  padding: 0 10px;
  color: $grey2b;
  font-family: 'sfProLight';
  font-size: 11px;
  text-decoration: none;
}

.navItem:after {
  content: '';
  padding: 0 8px;
  border-right: 1px solid $grey2b;
  color: $grey2b;
  font-size: 11px;
}

.navItem:last-child::after {
  border: none;
}
